[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TwoStepCLogit"]
	path = TwoStepCLogit
	url = https://github.com/cran/TwoStepCLogit
[submodule "gte"]
	path = gte
	url = https://github.com/cran/gte
